<header>
  <div class="navbar bg-base-100 bordered bg-blue-200" >
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">iventmatch</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><a>ログイン</a></li>
        <li><a>ユーザー登録</a></li>
      </ul>
    </div>
  </div>
</header>
