<div class="flex flex-col sm:flex-row items-center gap-2 md:gap-4">
  <div class="w-9 md:w-12 h-9 md:h-12 bg-gray-100 rounded-full overflow-hidden">
    <img src="https://images.unsplash.com/photo-1567515004624-219c11d31f2e??auto=format&q=75&fit=crop&w=256" loading="lazy" alt="Photo by Radu Florin" class="w-full h-full object-cover object-center" />
  </div>
  <div>
    <div class="md:text-lg font-bold text-center sm:text-left"><%= joined_user.nickname %></div>
  </div>
</div>