<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>「EventMatch」へようこそ!</h1>
    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/cf2f1998-cacb-4125-98c9-fb5e58a6c7e0/page/lv90C" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>