<main id="content" role="main">
<div class="text-center py-10 px-4 sm:px-6 lg:px-8">
  <h1 class="block text-2xl font-bold text-black sm:text-4xl">Event Match</h1>
  <p class="mt-3 text-lg text-black-300">例: 仕事や学校以外のコミュニティに参加してみたいけどできていないという人、出会いを求めている人、同じ趣味の友達が欲しい人</p>
  <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/cf2f1998-cacb-4125-98c9-fb5e58a6c7e0/page/lv90C" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</main>
