<main id="content" role="main">
<div class="text-center py-10 px-4 sm:px-6 lg:px-8">
  <h1 class="block text-2xl font-bold text-black sm:text-4xl">Event Match</h1>
  <p class="mt-3 text-lg text-black-300">例: 仕事や学校以外のコミュニティに参加してみたいけどできていないという人、出会いを求めている人、同じ趣味の友達が欲しい人</p>
  <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/cf2f1998-cacb-4125-98c9-fb5e58a6c7e0/page/lv90C" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</main>
<div class= "divider">
  <p class= "text-5xl">イベント一覧</p>
</div>
<div class= "grid grid-cols-4 gap-4">
  <div class="card bg-base-100 shadow-xl">
    <figure>
      <%= image_tag "takkyu.png" %>
    </figure>
    <div class="card-body">
      <h2 class="card-title">卓球大会！</h2>
      <div>
        <p>皆でいい汗流しましょう！</p>
      </div>
      <div class= "border">
        <p>大塚地域活動センター</p>
        <p>03-3483-2452</p>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">内容を見る</button>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <figure>
      <%= image_tag "soccer.png" %>
    </figure>
    <div class="card-body">
      <h2 class="card-title">フットサル練習会</h2>
      <div>
        <p>皆でいい汗流しましょう！</p>
      </div>
      <div class= "border">
        <p>大塚地域活動センター</p>
        <p>03-3483-2452</p>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">内容を見る</button>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <figure>
      <%= image_tag "syougi.png" %>
    </figure>
    <div class="card-body">
      <h2 class="card-title">将棋大会</h2>
      <div>
        <p>皆でいい汗流しましょう！</p>
      </div>
      <div class= "border">
        <p>大塚地域活動センター</p>
        <p>03-3483-2452</p>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">内容を見る</button>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <figure>
      <%= image_tag "volleyball.png" %>
    </figure>
    <div class="card-body">
      <h2 class="card-title">ママさんバレー定期練習</h2>
      <div>
        <p>皆でいい汗流しましょう！</p>
      </div>
      <div class= "border">
        <p>大塚地域活動センター</p>
        <p>03-3483-2452</p>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">内容を見る</button>
      </div>
    </div>
  </div>
</div> 
