<div class="mx-auto md:w-2/3 w-full h-full">
<h1 class="mx-auto md:w-auto mt-8 w-hull font-bold ">Login</h1>
  
  <%= render 'form' %>
  
  <%= link_to "Create User", new_user_path, class: "ml-2 mb-8  rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>